<div *ngIf="apiState" class="api-progress">
  <img class="api-progress-img" src="../../../assets/giphy.gif"/>
</div>

<div *ngIf="signupStatus" class="popup-signup">
  <mat-card class="popup-content">
    succesfully sign up
  </mat-card>
</div>

<div *ngIf="invLogIn" class="inv-login">
  <mat-card class="popup-content">
    Invalid Login
  </mat-card>
</div>

<div class="structure">

  <div *ngIf="toggle === STATE.HOME" class="login-box">
    <img class="cont-img" src="../../../assets/connect-logo2.jpg" />
    <div class="tab">
      <div class="tab-items"  (click)="logInForm($event)">Log In</div>
      <div class="tab-items" style="margin-left: 1px;"  (click)="signupForm($event)">Sign Up</div>
    </div>
  </div>

  <div *ngIf="toggle === STATE.LOGIN" class="login-box">
    <div class="text">
      Log In
    </div>
    <form [formGroup]="loginFormGroup" (ngSubmit)="logIn()" class="login-form">
      <mat-form-field class="text-form-field-li"  appearance="outline">
        <mat-label>User Id</mat-label>
        <input formControlName="userId" matInput>
      </mat-form-field>
      <mat-form-field class="text-form-field-li"  appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password"  matInput>
      </mat-form-field>
      <input [ngClass]="loginFormGroup.valid ? 'submit-button' : 'submit-button-disable'" 
             [disabled]="!loginFormGroup.valid" type="submit"  value="Log In">
    </form>
  </div>

    
  <div *ngIf="toggle === STATE.SIGNUP" class="login-box">
    <div class="text">
      Sign Up
    </div>
    <form [formGroup]="signupFormFroup" (ngSubmit)="signUp()" class="login-form">
      <mat-form-field class="text-form-field-su"  appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field class="text-form-field-su"  appearance="outline">
        <mat-label>User Id</mat-label>
        <input formControlName="userId" matInput>
      </mat-form-field>
      <mat-form-field class="text-form-field-su"  appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput>
      </mat-form-field>
      <mat-form-field class="text-form-field-su"  appearance="outline">
        <mat-label>Contact</mat-label>
        <input formControlName="phoneNo" type="number" matInput>
      </mat-form-field>  
      <input [ngClass]="signupFormFroup.valid ? 'submit-button' : 'submit-button-disable'" [disabled]="!signupFormFroup.valid" type="submit"  value="Sign Up">
    </form>
  </div>
</div>





<!-- temp html

  <input  class="text-form-field-su" 
                  type="text"     
                  formControlName="name"
                  placeholder="name"
                  required>  
      <input  class="text-form-field-su" 
                  type="text"     
                  formControlName="userId"
                  placeholder="User Name"
                  required>  
      <input  class="text-form-field-su" 
                  type="password"     
                  formControlName="password"
                  placeholder="password"
                  required>  
      <input  class="text-form-field-su" 
                  type="number"     
                  formControlName="phoneNo"
                  placeholder="contact"
                  required>  

      <input  class="text-form-field-li" 
                  type="text"     
                  formControlName="userId"
                  placeholder="User Name"
                  required>
          <input  class="text-form-field-li" 
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  required> 

-->