<div *ngIf="apiState" class="api-progress">
  <img class="api-progress-img" src="../../../assets/giphy.gif"/>
</div>

<div class="structure">
  <div class="header">
    
    <label for="image-input">  
      <img *ngIf="!isShowProfile" class="img-upld" src="../../../assets/upload-image.png">
    </label>
    <input id="image-input" type="file" (change)="onUpload($event)" accept="image/*" style="display: none;"/>
     
    <img *ngIf="!isShowProfile && userProfileImage == undefined" class="profile" (click)="showProfile()" src="../../../assets/default-image.jpeg"/>
    <img *ngIf="!isShowProfile && userProfileImage != undefined" class="profile" (click)="showProfile()" src="{{ userProfileImage }}"/>
  </div>

  <!--user profile child comp-->
  <app-profile-info *ngIf='isShowProfile' class="body" 
                    [userProfileImage]='userProfileImage'  
                    [profileData]='userInfo'
                    [timeLineImages]='timeLineImages'>
  </app-profile-info>

  <div *ngIf='!isShowProfile' class="body">

    <div class="nav-header">
      <div (click)="activeNav(activeStatus.HOME)" [ngClass]=" activeHeader.home ? 'nav-header-item-active' : 'nav-header-item-inactive'">
        HOME
      </div>
      <div (click)="activeNav(activeStatus.CHAT)" [ngClass]=" activeHeader.chat ? 'nav-header-item-active' : 'nav-header-item-inactive'">
        FRIEND
      </div>
      <div (click)="activeNav(activeStatus.PEOPLE)" [ngClass]=" activeHeader.people ? 'nav-header-item-active' : 'nav-header-item-inactive'">
        PEOPLE
      </div>
    </div>

<!-- home body  -->
    <div *ngIf="activeHeader.home" class="home-body" id="home-body">
      <div *ngFor="let data of timeLine;index as ind">
        <div class="home-cont">
          <div class="body-hdr">  
            <div  class="body-nm"> {{ data['name'] }}  </div>
            <div  class="body-time"> {{ data['create_ts'] | dateFormat }}  </div>
          </div>
          <img  class="body-img" src="{{ data['image'] }}">
          <div  class="like-count">
            <img style="margin-right: 2vw; height: 4vh; padding: 2px 0;" src="../../../assets/love-img.png" />
            <span> {{ data['isLike'] ? 'You and ' + data['like_count'] + ' others'  : data['like_count'] }} </span>
          </div>
          <div class="body-img border-top" style="height: 6vh;" (click)="like(data, ind)"> 
            <img class="like-img" *ngIf="data['isLike']" src="../../../assets/like.jpeg" />
            <img class="like-img" *ngIf="!data['isLike']" src="../../../assets/non-like.png" />
          </div>
          <mat-divider  style="margin-top: 4px; border-top-width: 16px;"></mat-divider>
        </div>
      </div>
    </div>
    <div class="loading-image" *ngIf="activeHeader.home">
      <img class="loading-image-img" src="../../../assets/loading-image.gif" />
    </div>

<!-- friend body -->
    <div *ngIf="activeHeader.chat" class="chat-body">
      <div *ngFor="let data of chatHistory;index as index" (click)="selectChatHistory(index)">
        <div class="people-rec">
          <img *ngIf="data['image'] == undefined" class="people-img" src="../../../assets/default-image.jpeg">
          <img *ngIf="data['image'] != undefined" class="people-img" src="{{ data['image'] }}"/>
          <div class="people-name"> {{ data["name"] }} </div>
        </div>
      </div>
    </div>
<!-- people info -->
    <div *ngIf="activeHeader.people" class="people-body">
      <div *ngFor="let data of peopleInfo;index as index" (click)="selectPeople(index)">
        <div class="people-rec">
          <img *ngIf="data['image'] == undefined" class="people-img" src="../../../assets/default-image.jpeg">
          <img *ngIf="data['image'] != undefined" class="people-img" src="{{ data['image'] }}"/>
          <div class="people-name"> {{ data["name"] }} </div>
        </div>
      </div>
    </div>
  </div>

</div>


