.structure {
  background-color:#ffffff;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.img-upld {
  position: absolute;
  height: 10vw;
  width: 10vw;
  top: 0;
  padding: 10px 10px;
  border-radius: 10vh;
}

.profile {
  height: 10vw;
  width: 10vw;
  padding: 10px 10px;
  border-radius: 10vh;
  margin-left: calc(85vw - 10px);
}

.api-progress, .inv-login {
  z-index: 3000;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.6;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.body {
  width: 100vw;
}

.nav-header {
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #000046, #1CB5E0);
}

.nav-header-item-active {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 2vh 0;
}

.nav-header-item-inactive {
  box-sizing: border-box;
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 2vh 0;
}

.img-size {
  width: 50%;
  height: 50%;
}

.msg-body {
  width: 100%;
}

.msg-cont {
  width: 100vw;
  display: flex;
  align-items: center;
}

.profile-img {
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-name {
  height: 10vh;
  width: 80vw;
  display: flex;
  align-items: center;
}

.api-progress-img {
  height: 40vh;
}

/* chat */
.chat-body {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
}

/* home cont */
.home-cont {
  width: 100vw;
  margin-top: 24px;
}

.body-nm {
  margin-left: 10px;
}

.body-img {
  margin-top: 8px;
  width: 100%;
}

/* people */
.people-body {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
}

.people-rec {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.people-img {
  height: 8vh;
  width: 8vh;
  border-radius: 24vh;
  padding: 16px 16px;
}
