<div class="structure">
  <div class="header">
    <img *ngIf="!isShowProfile" class="profile" (click)="showProfile()" src="../../../assets/default-image.jpeg"/>
  </div>

  <div class="body">

    <app-profile-info class="body" *ngIf='isShowProfile' [profileData]='userInfo'></app-profile-info>

    <div *ngIf='!isShowProfile' class="body">
      <div class="nav-header">
        <div (click)="activeNav(activeStatus.HOME)" [ngClass]=" activeHeader.home ? 'nav-header-item-active' : 'nav-header-item-inactive'">
          HOME
        </div>
        <div (click)="activeNav(activeStatus.CHAT)" [ngClass]=" activeHeader.chat ? 'nav-header-item-active' : 'nav-header-item-inactive'">
          CHAT
        </div>
        <div (click)="activeNav(activeStatus.FRIENDS)" [ngClass]=" activeHeader.friends ? 'nav-header-item-active' : 'nav-header-item-inactive'">
          FRIENDS
        </div>
      </div>

      <div class="msg-body"></div>

    </div>

  </div>

</div>


