.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.profile-img {
  height: 30vh;
  width : 30vh;
  border-radius: 60vh;
  margin-top: 10vh;
}

.profile-name {
  height: 10%;
  display: flex;
  align-items: center;
}

.log-out {
  position: relative;
  margin-top: 16vh;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.log-out-button {
  position: absolute;
  color: whitesmoke;
  background-color: tomato;
  width: 40vw;
  text-align: center;
}