.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.profile-img-body {
  height: 20vh;
  width : 20vh;
  margin-top: 10vh;
}

.profile-img {
  height: 20vh;
  width : 20vh;
  border-radius: 40vh;
}

.upld-profile-img {
  position: absolute;
  width: 6vh;
}

.upld-profile-img>input {
  display: none;
}

.profile-name {
  height: 10vh;
  display: flex;
  align-items: center;
}

.time-line-grid {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.time-line-img {
  width: calc(94vw / 3);
  height: 30vw;
  padding: 1vw
}

.log-out-button {
  position: relative;
  color: whitesmoke;
  background-color: tomato;
  width: 40vw;
  margin: 4vh 0;
  text-align: center;
}